.vscode/**
.local/**
.vscode-test/**
out/test/**
test/**
dev/**
src/**
src/**
vsix/**
images/*.gif
images/*.pdn
images/dependencies.png
**/*.map
.gitignore
tsconfig.json
settings.json
vsc-extension-quickstart.md
**/*.cmd
**/*.7z
**/*.zip
out/test/**
out/**/*.map
tsconfig.json
vsc-extension-quickstart.md
tslint.json