.vscode/**
.vscode-test/**
out/test/**
images/*.gif
images/*.png
!images/css_logo.png
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.cmd
**/*.md
!CHANGELOG.md
!LICENSE.md
!README.md
